
.btnColor{
  background-color: #3f51b5;
  color: white;
}

.backColor{
  background-color: black;
  color: white;
}

.orangeColor{
  background-color: orange;
  color: white;
}

.inputWidth{
  width: 100%;
}